*.csv filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
variables.data* filter=lfs diff=lfs merge=lfs -text
**variables.data* filter=lfs diff=lfs merge=lfs -text
*.paruqet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
*.gitignore !text !filter !merge !diff
*.py !text !filter !merge !diff
*.json !text !filter !merge !diff
*.pyc !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.shape !text !filter !merge !diff
*.index !text !filter !merge !diff
*.old !text !filter !merge !diff
